@font-face {
    font-family: 'Cera Pro';
    src: url('./assets/fonts/CeraPro-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Cera Pro', sans-serif !important;
    /* box-sizing: border-box !important; */

}

.custom-navbar {
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

.left-links {
display: flex;
gap: 10px;
margin: 0;
padding: 0;
}

.right-links {
display: flex;
gap: 10px;
margin: 0;
padding: 0;
}

.poster {
    /* max-width: 150px !important; */
    border-radius: 4px;
}

.card-watchlist {
    /* max-width: 300px !important; */
    font-size: small !important;
    /* font-size: 0.8rem !important; */
}

.surprise-movie{
    width: 18rem
}
/* 🦖 */