@font-face {
    font-family: 'Cera Pro';
    src: url('./assets/fonts/CeraPro-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cosmic-black: #000000;
    --deep-night: #1A1A2E;
    --midnight-blue: #16213E;
    --dark-azure: #0F3460;
    --cosmic-purple: #533483;
  }

* {
    font-family: 'Cera Pro', sans-serif !important;
    /* box-sizing: border-box !important; */

}

body {
    background-color: var(--cosmic-black) !important;
    color: #fff !important;
}

.navb {
    background-color: var(--deep-night) !important;
}

.nav-link {
    color: #fff !important;
}

.movie-card {
    background-color: var(--midnight-blue) !important;
    border-color: var(--cosmic-black) !important;
    color: #fff !important;
}

.custom-navbar {
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

#input {
    /* border-radius: 5px !important;
    border: 1.5px solid #0e172c !important;
    padding: 4px 15px; */
    /* background-color: var(--primary) !important; */
    /* width: 15em;
    height: 1.7em; */
    outline: none !important;
}
#input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #0e172c !important; 
}

.left-links {
display: flex;
gap: 10px;
margin: 0;
padding: 0;
}

.right-links {
display: flex;
gap: 10px;
margin: 0;
padding: 0;
}

.poster {
    /* max-width: 150px !important; */
    border-radius: 4px;
}

.card-watchlist {
    /* max-width: 300px !important; */
    font-size: small !important;
    /* font-size: 0.8rem !important; */
}

.surprise-movie{
    width: 18rem
}

.bttn-search,
.bttn-Added,
.bttn-Add,
.bttn-Login,
.bttn-Register,
.bttn-surpriseMe,
.bttn-ShowAll,
.bttn-Delete {
    padding: 2px 5px !important; 
    /* background-color: var(--dark-azure) !important;
    border: 2px solid var(--midnight-blue) !important;
    color: white !important; */
}

/* 🦖 */